body {
    font-family:'Courier New', Courier, monospace;
    font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    color: #ececec;
    background: #212121;
}

header {
    background: #212121;
    position: sticky;
    top: 0;
    padding:0.5em;
}


h1 {
    text-align: center;
    font-size:2em;
}

.conversation-block {
    margin-bottom: 5%;
    padding: 1em;
    font-size: 1em;
}

.user-input {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color:#676767;
    border-radius: 1em;
    position:fixed;
    bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 87.5%;
}

.send-btn {   
    float: right;
    cursor: pointer;
}


textarea {
    float: left;
    /* border-style: dashed; */
    /* border-color: pink; */
    background-color: transparent;
    outline: none;
    padding: .5em;
    color: white;
    height: 35px;
    width: 90%;
    font-size: 1em; 
    /* border-radius: 1em; */
    overflow: hidden;
    size-adjust: none;
    resize: none;
    margin-top: 5px;
    margin-left: 2.5%;
}



.llm-text-box {
    margin-left: 10%;
    padding-left: 2.5%;
    align-content: right;
    padding-right: 1em;
    /* border-radius: 1em;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color:rgb(92, 52, 148); */
    color: white;
    text-align:left;
    width: 75%;
    height: auto;
    padding-bottom: .5em;
}


.user-text-box {
    padding-left: 2.5%;
    align-content: right;
    padding-right: 1em;
    border-radius: 1em;
    background-color:#676767;
    color: white;
    text-align:left;    
    width: 25%;
    height: auto;
    padding-bottom: .5em;
    padding-top: .5em;
}