body {
    font-family:'Courier New', Courier, monospace;
    font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
    color: #ececec;
    background: #212121;
}

header {
    background: #212121;
    position: sticky;
    top: 0;
    padding:0.5em;
}

h1 {
    text-align: center;
    font-size:2em;
}

.conversation-block {
    margin-bottom: 5%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1em;
}

.user-input {
    background-color:#676767;
    border-radius: 2em;
    position:fixed;
    bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 87.5%;
}

.send-btn {   
    float: right;
    cursor: pointer;
}

textarea::placeholder{
    color: white;
}

textarea {
    float: left;
    border: none;
    outline: none;
    background-color: transparent;
    padding: .5em;
    color: white;
    height: 35px;
    width: 90%;
    font-size: 1em; 
    overflow: hidden;
    size-adjust: none;
    resize: none;
    margin-top: 5px;
    margin-left: 2.5%;
}

.llm-text-box {
    margin-right: 10%;
    padding-right: 2.5%;
    align-content: left;
    padding-right: 1em;
    color: white;
    text-align:left;
    width: 75%;
    height: auto;
    padding-bottom: .5em;
}

.ollama {
    float: left;
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
}

.llm-text {
    float: right;
}

.user-text-box {
    padding-left: 2.5%;
    margin-left: 80%;
    margin-right: 2.5%;
    align-content: right;
    padding-right: 2.5%;
    border-radius: 1em;
    background-color:#676767;
    color: white;
    text-align:left;    
    display: inline-block;
    padding-bottom: .5em;
    padding-top: .5em;
}